{% extends 'customer/customerindex.html.twig' %}

{% block title %}Editer votre profil{% endblock %}

{% block section %}
<div class="example-wrapper">
    <h1>Vos informations</h1>

    {{ form_start(form) }}
        {{ form_row(form.organisationName, {label:
            "Nom de l'entreprise"
        }) }}
        {{ form_row(form.email, {label:
            "E-mail"
        }) }}
        {{ form_row(form.contact, {label:
            "Telephone"
        }) }}
        {{ form_row(form.adress, {label:
            "Adresse"
        }) }}
        {{ form_row(form.managerName, {label:
            "Nom du responsable"
        }) }}

        <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}

</div>
{% endblock %}
