{% extends 'base.html.twig' %}

{% block title %}Hello CustomerOrderController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

  <section class="orderCreator">
    <h4 class=" text-center">Nouvelle commande</h4>
    {% include "components/searchbarAutocomplete.html.twig" %}
  </section>

    <section class="">
        <form autocomplete="off" class="container m-5">
            <h2>Autocomplete Example</h2>
            <div class="autocomplete">
                <input type="search" name="myInput" id="search-autocomplete" class="form-control" placeholder="Rechercher...">
            </div>
            <button type="submit" class="btn btn-outline-success">Ajouter</button>
        </form>
    </section>

    <section class="searchProduct m-5">
        <div>
            <input type="search" value="" name="searchProduct" placeholder="Rechercher un produit..." id="searchProduct" class="form-control" autofocus>
        </div>
    </section>

    <section class="searchbar">
        <div class="dropdown">
            <input type="search" name="search" value="" id="dropdownMenuInput" class="form-control mb-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <ul class="dropdown-menu w-100 mt-0" aria-labelledby="dropdownMenuInput">
                <li class="dropdown-item disabled">Veuillez saisir le nom d'un produit</li>
            </ul>
        </div>
    </section>
    <section class="searchbar1">
        <div class="dropdown">
            <input type="search" name="search" value="" id="dropdownMenuInput" class="form-control mb-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <ul class="dropdown-menu w-100 mt-0" aria-labelledby="dropdownMenuInput">
                <option class="dropdown-item disabled">Veuillez saisir le nom d'un produit</option>
            </ul>
        </div>
    </section>
    <section class="orderChoice">
        {{form_start(form)}}
        <div class="mb-3 row d-flex">
            <div class="col-12">
                {{form_row(form.product, {
                    label: " "
                })}}
            </div>
        </div>
        <div class="mb-3 row d-flex">
            <div class="col-md-8 product">
                Nom du produit : <span></span>
            </div>
            <div class="col-md-3 d-flex quantityField">
                Quantité {% include "components/quantity.html.twig" %}
            </div>
        </div>
        <div class="mb-3 row d-flex justify-content-between">
            <div class="col-md-3 price">
                P. Achat : <span></span>
            </div>
            <div class="col-md-3 publicPrice">
                P. Public : <span></span>
            </div>
            <div class="col-md-6 peromptAt">
                Date de péremption : <span></span>
            </div>
        </div>
        <div class=" text-end">
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
        {{form_end(form)}}
    </section>

    <section class="card mt-5">
        <div class="card-header">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3"><h5>Nom du produit</h5></div>
                <div class="col-2 text-center"><h5>Quantité</h5></div>
                <div class="col-2"><h5>P. Achat</h5></div>
                <div class="col-2"><h5>P. Public</h5></div>
                <div class="col-2"><h5>Montant</h5></div>
            </div>
        </div>
        <div class="card-body">
            {% for orderItem in phpOrderItem %}
                <div id="item{{orderItem['id']}}" class="row mb-3">
                    <div class="col-4">
                        <button class="btn btn-outline-danger">X</button>
                        {{ orderItem['name'] }}
                    </div>
                    <div class="col-2 orderQuantity">
                        <div class="quantity">
                            <div class="input-group">
                                <span class="input-group-btn input-group-prepend">
                                    <button class="btn btn-dark remove" type="button">-</button>
                                </span>
                                <input type="number" name="quantity" id="" class="form-control" value="{{ orderItem['quantity'] }}" min="0" width="100">
                                <span class="input-group-btn intup-group-append">
                                    <button class="btn btn-dark add" type="button">+</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 orderPrice">{{ orderItem['price'] }}</div>
                    <div class="col-2 orderPublicPrice">{{ orderItem['publicPrice'] }}</div>
                    <div class="col-2 orderValue">Montant</div>
                </div>
            {% endfor %}
        </div>
    </section>
</div>
<script>
    const jsProduct = {{ product|json_encode|raw }};
    const orderItemer = {{ orderItemer|raw }};
</script>
{% endblock %}

