{% extends 'base.html.twig' %}

{% set action = app.current_route=="app_admin_dci" ? "Créer un nouveau DCI" : "Editer le DCI" %}

{% block title %}DCI{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h2>{{action}}</h2>

    <div class="">
        {{form_start(form)}}
            {% if action == "Editer le DCI" %}
            {{form_row(form.name, {label : currentDci.name})}}
            {% else %}
            {{form_row(form.name, {label : "Nom du DCI"})}}
            {% endif %}
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a href="{{path('app_admin_dci', {page: page})}}" class="btn btn-secondary">Annuler</a>
        {{form_end(form)}}
    </div>
    <section class="mt-5 card">
        <h2 class="card-title text-bg-success text-center">Liste des DCI</h2>

        <div class="card-body">
            {% if dci is not null %}
            <ul class="list-group">
                <p>{{pagerfanta(dci)}}</p>
                {% for item in dci %}
                    <li class="list-group-item d-flex justify-content-between">
                        {{item.name}}
                        <span>
                            <a href="{{path("app_admin_product_bydci", {dci: item.id, productPage: page})}}" class="btn btn-outline-secondary">Détails</a>
                            <a href="{{path('app_admin_dci_edit', {id: item.id, page: page})}}" class="btn btn-outline-primary">Editer</a>
                            {% if item.isEnabled %}
                            <a href="{{path("app_admin_dci_ability", {ability: "disable", id: item.id, page: page})}}" class="btn btn-outline-danger">Désactiver</a>
                            {% else %}
                            <a href="{{path("app_admin_dci_ability", {ability: "able", id: item.id, page: page})}}" class="btn btn-outline-success">Activer</a>
                            {% endif %}
                        </span>
                    </li>
                {% else %}
                    <p>Aucun DCI disponible actuellement.</p>
                {% endfor %}
                <p>{{pagerfanta(dci)}}</p>
            </ul>
            {% endif %}
        </div>
    </section>
</div>
{% endblock %}
