{% extends 'base.html.twig' %}

{% set action = app.current_route == "app_admin_product_all" ? "Créer un nouveau produit" : "Editer un produit" %}

{% block title %}Produits{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h3>{{action}}</h3>

    {{form_start(form)}}
        {{form_row(form.dci, {label: "Choisir la DCI du produit"})}}
        {{form_row(form.name, {label: "Nom du produit"})}}
        {{form_row(form.price, {label: "Prix"})}}
        {{form_row(form.publicPrice, {
            label: "Prix public"
        })}}
        {{form_row(form.peromptAt, {
            label: "Date de péremption"
        })}}
        <button type="submit" class="btn btn-primary">Enregister</button>
        <a href="{{path('app_admin_product_all', {page: page})}}" class="btn btn-secondary">Annuler</a>
    {{form_end(form)}}
    <div class="card">
        {% if products is not null %}
            <h3 class="card-title text-bg-success text-center">Liste de tout les produits</h3>
            <div class="card-body">
                <ul class="list-group">
                    <p>{{pagerfanta(products)}}</p>
                    {% for product in products %}
                        <li class="list-group-item d-flex justify-content-between">
                            {{product.name}}
                            <span>
                                <a href="{{path('app_admin_product_all_edit', {dci: product.dci.id, product: product.id, page: page})}}" class="btn btn-outline-primary">Editer</a>
                                {% if product.isEnabled %}
                                <a href="{{path('app_admin_product_all_ability', {ability: "enabled", dci: product.dci.id, product: product.id, page: page})}}" class="btn btn-outline-danger">Désactiver</a>
                                {% else %}
                                <a href="{{path('app_admin_product_all_ability', {ability: "abled", dci: product.dci.id, product: product.id, page: page})}}" class="btn btn-outline-success">Activer</a>
                                {% endif %}
                            </span>
                        </li>
                    {% else %}
                        <p>Aucun produit n'existe pour cette DCI</p>
                    {% endfor %}
                    <p>{{pagerfanta(products)}}</p>
                </ul>
            </div>
        {% else %}
        <p>Aucun produit n'est enregistré</p>
        {% endif %}
    </div>
</div>
{% endblock %}
