{% extends 'customer/customerindex.html.twig' %}

{% block title %}Commandes validées{% endblock %}

{% block section %}

<div class="example-wrapper">
    <section>
        <div class="card mt-3 orderSaved">
            <h4 class="card-header text-center">Vos commandes validés</h4>
            <div class="card-body">
                <div class="list-group">
                    {% if orderValidate %}
                        {% for order in orderValidate %}
                            <div class="list-group-item d-flex justify-content-between">
                                Commande N° {{order.orderNumber}}                           
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{order.orderNumber}}" class="stretched-link link-dark"></a>
                                <span class="text-mutted">{{ order.orderedAt|date('d/m/Y à H : i') }}</span>
                            </div>
                            <div class="modal fade" id="modal{{order.orderNumber}}" tabindex="-1" aria-labeledby="idModal{{order.orderNumber}}" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="idModal{{order.orderNumber}}">Détails de la commande N° {{order.orderNumber}} du {{order.orderedAt|date('d/m/Y à H : i')}} </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table table-striped">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Nom du produit</th>
                                                        <th scope="col" class=" text-center">Quantité</th>
                                                        <th scope="col" class=" text-end">P. Unit</th>
                                                        <th scope="col" class=" text-end">P. Total</th>
                                                        <th scope="col" class=" text-end">P. Public</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% set i = 0 %}
                                                    {% for item in order.productList %}
                                                        {% set i = i + 1 %}
                                                        <tr>
                                                            <th scope="row">{{i}}</th>
                                                            <td>{{item.name}}</td>
                                                            <td class=" text-center">{{item.quantity}}</td>
                                                            <td class=" text-end">{{item.price}}</td>
                                                            <td class=" text-end">{{item.price * item.quantity}}</td>
                                                            <td class=" text-end">{{item.publicPrice}}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class=" text-danger">
                            Vous n'avez aucune commande validé
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}
