{% extends 'customer/customerindex.html.twig' %}

{% block title %}Commandes validées{% endblock %}

{% block section %}

<div class="example-wrapper">
    <section>
        <div class="card mt-3 orderSaved">
            <h4 class="card-header text-center">Vos commandes validés</h4>
            <div class="card-body">
                <div class="list-group">
                    {% if orderValidate %}
                        {% for order in orderValidate %}
                            <div class="list-group-item d-flex justify-content-between">
                                Commande N° {{order.orderNumber}}                           
                                <a href="" data-bs-toggle="modal" data-bs-target="#modal{{order.orderNumber}}" class="stretched-link link-dark" id='{"productList" : {{ order.productList|json_encode|raw }}, "orderNumber" : {{order.orderNumber}}, "orderDate" : "{{order.orderedAt|date('d/m/Y à H : i')}}"}'></a>
                                <span class="text-mutted">{{ order.orderedAt|date('d/m/Y à H : i') }}</span>
                            </div>
                            <div class="modal fade" id="modal{{order.orderNumber}}" tabindex="-1" aria-labeledby="idModal{{order.orderNumber}}" aria-hidden="true">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="idModal{{order.orderNumber}}">Détails de la commande N°</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class=" text-danger">
                            Vous n'avez aucune commande validé
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <!-- Boutton réacteur -->
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exempleModal">Afficheur</button>

    <!-- Modal réactif -->
    <div class="modal fade" id="exempleModal" tabindex="-1" aria-labeledby="titreModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" id="titreModal">
                    <h5 class="modal-title">Titre du modal</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    Ici on a le corps de notre modal
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-success">Envoyer</button>
                </div>
            </div>
        </div>
    </div>


    <section class="orderContent mt-5">
        <div class="card">
            <h3 class="card-header text-center">Cliquez sur la commande pour avoir les étails ici</h3>
            <div class="card-body">
                <div class="list-group">
                </div>
            </div>
        </div>
    </section>

</div>

{% endblock %}
